@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="container">
    <div class="m-3">
        <h3>Hello User!</h3>
    </div>

    <div class="card-deck">
        <partial name="Items/_AccountItem" model='new AccountItemModel { ControllerName = "Home", ActionName = "NotReadyPage" };' />
        <partial name="Items/_AccountItem" model='new AccountItemModel { ControllerName = "Home", ActionName = "NotReadyPage" };' />
    </div>

    @*<button type="button" 
            class="btn btn-primary" 
            data-toggle="modal" 
            data-target="#warningLogoutModal">
        Call Modal
    </button>*@

    <partial name="UI/_Modal" model='new Modal{ Title = "Selamat!", Desc = "Selamat! Akun anda sudah ter verifikasi dan dinyatakan valid oleh admin.\nSekarang anda bisa memakai semua fitur yang ada di aplikasi ini."}' />

    <div style="width: 100%">
        <h3>Transaksi</h3>

        <table class="table table-sm table-borderless">
            <thead class="thead text-sm mb-5">
                <tr>
                    <th>Tanggal</th>
                    <th>Tipe Transaksi</th>
                    <th>Deskripsi</th>
                    <th>Nominal</th>
                </tr>
            </thead>

            <tbody class="table-light">
                <tr class="my-2">
                    <td>@DateTime.Now</td>
                    <td>Top up</td>
                    <td>Top up no id 123445678946</td>
                    <td>250.000,00</td>
                </tr>
                <tr class="my-2">
                    <td>@DateTime.Today</td>
                    <td>Top up</td>
                    <td>Top up no id 123445678946</td>
                    <td>500.000,00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>