@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="container">
    <div class="m-3">
        <h3>Hello User!</h3>
    </div>

    <div class="card-deck">
        <partial name="Items/_AccountItem" />
        <partial name="Items/_AccountItem" />
    </div>

    <div style="width: 100%">
        <h3>Transaksi</h3>

        <table class="table table-sm table-borderless">
            <thead class="thead text-sm">
                <tr>
                    <th><small>Tanggal</small></th>
                    <th><small>Tipe Transaksi</small></th>
                    <th><small>Deskripsi</small></th>
                    <th><small>Nominal</small></th>
                </tr>
            </thead>

            <tbody class="table-light">
                <tr>
                    <td><small>@DateTime.Now</small></td>
                    <td><small>Top up</small></td>
                    <td><small>Top up no id 123445678946</small></td>
                    <td><small>250.000,00</small></td>
                </tr>
                <tr>
                    <td><small>@DateTime.Today</small></td>
                    <td><small>Top up</small></td>
                    <td><small>Top up no id 123445678946</small></td>
                    <td><small>500.000,00</small></td>
                </tr>
            </tbody>
        </table>
    </div>
