@model BANKFE.ViewModels.LoginViewModel;

@{
    Layout = null;
    string message = Model.sweetAlertResult.Message;
    string status = Model.sweetAlertResult.Status;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap-wizard/prettify.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.10/dist/sweetalert2.all.min.js"></script>
</head>
<body class="bg-pattern" onload="loadStatus('@message', '@status')">
    <div class="bg-overlay"></div>
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-4">
                    <div class="card">
                        <div class="card-body py-3 px-5">
                            <div class="">

                                <div class="row justify-content-center"><img class="mb-4 pt-5" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"></div>
                                <div class="mb-2 row">
                                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                                </div>
                                <div class="mb-2 row">
                                    <label class="form-label" for="inputEmail">Username</label>
                                    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
                                </div>
                                <div class="mb-2 row">
                                    <label class="form-label" for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                                </div>
                                <div class="mb-2 row justify-content-end pt-2 pb-2">
                                    <a href="/ChangePassword/ForgotPassword" class="link-info ">Forget Password?</a>
                                </div>
                                <div class="mb-2 row justify-content-end pt-2 pb-2">
                                    <a href="#" class="link-info " onclick="swalForgotPassword()">Forgot Password? (Sweet Alert)</a>
                                </div>
                                <div class="mb-2 row">
                                    <button class="btn btn-lg btn-primary btn-block" id="signinsubmit" disabled>Login</button>
                                </div>
                                <div class="row justify-content-center pt-4 pb-5">
                                    <label>Don't have access?&nbsp;</label><a href="/Registration" class="link-info"> Register now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/node-waves/waves.min.js"></script>

    <script src="~/lib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/lib/twitter-bootstrap-wizard/prettify.js"></script>

    <script src="~/js/pages/form-wizard.init.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        var usernameValid = false;
        var passwordValid = false;

        async function swalForgotPassword() {
            //Swal.fire("Selamat!", "Akun anda berhasil diverifikasi!", "success");
            const { value: email } = await Swal.fire({
                title: 'Forgot password',
                input: 'email',
                inputLabel: 'Send request to the email below',
                inputPlaceholder: 'Enter your email address'
            })

            if (email) {
                $.ajax({
                    type: 'GET',
                    url: '/ChangePassword/SendChangePassword?email=' + email,
                    success: function (data) {
                        //alert(data);
                        Swal.fire(data);
                    },
                    error: function (data) {
                        //alert(data.responseText);
                        Swal.fire(data.responseText);
                    }
                });
            }
        }

        function loadStatus(message, status) {
            if (status != "") {
                Swal.fire(message, "", status)
            }
        }

        $(document).ready(function () {

            $('#inputEmail').on("input", () => {
                const value = $('#inputEmail').val();
                usernameValid = value.length >= 6 && value.length < 50;

                console.log('username length: ', value);
                $('#signinsubmit').prop('disabled', !passwordValid || !usernameValid);
            });

            $('#inputPassword').on("input", () => {
                const value = $('#inputPassword').val();
                passwordValid = value.length >= 6 && value.length < 50;

                console.log('password length: ', value);
                $('#signinsubmit').prop('disabled', !passwordValid || !usernameValid);
            });

            $('#signinsubmit').click(function () {
                var username = $('#inputEmail').val();
                var password = $('#inputPassword').val();
                var returnurl = getParameterByName('ReturnUrl');
                var postdata = { UserName: username, Password: password, ReturnUrl: returnurl }

                if (returnurl == null) {
                    returnurl = "/"
                }

                if (!document.getElementById('inputEmail').validity.valid || !document.getElementById('inputPassword').validity.valid) {
                    alert("Pelease Fill Username and Password");
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/Login/DoLogin',
                        data: JSON.stringify(postdata),
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'json',
                        success: function (data) {
                            window.location.href = returnurl;
                        },
                        error: function (data) {
                            alert(data.responseText);
                        }
                    });
                }
            });
        });

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
</body>
</html>