<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BANKFE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<!-- TODO: later, please change this timer to 10 minutes -->
<body class="row" style="background-color: #f2f3fa;" onload="JavaScript: callPopup(600000)">
    <partial name="UI/_Sidebar" />
    <div class="col p-0">
        <partial name="UI/_Header" />
        <div class="container">
            <main role="main" class="pb-1">
                @RenderBody()
                <partial name="UI/_WarningLogoutModal" />
            </main>
        </div>
        <partial name="UI/_Footer" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        var timeOut;
        var timer = 0;

        const callPopup = (timePeriod) =>
        {
            console.log("start counting down....")
            timer = timePeriod;

            const popupCount = timePeriod - 5000;
            timeOut = setTimeout(() => {
                console.log("pop up show! 5 second left...");
                $('#warningLogoutModal').modal('show');
                startCountdown(5000);
            }, popupCount);
        }

        const startCountdown = (timeoutPeriod) => {
            timeOut = setTimeout(doLogout, timeoutPeriod);
            console.log("start count down...");
        }

        const cancelTimeOut = () => {
            console.log('cancel timer, reset time to start again...');
            clearTimeout(timeOut);

            if (timer <= 0) return;
            callPopup(timer);
        }

        const doLogout = () => {
            console.log("Time out...\nLogging out");
            window.location.href = "/Login/LogOut"
        }
    </script>
</body>
</html>