<footer class="border-top footer text-muted" style="width: -webkit-fill-available">
    <div class="container">
        &copy; 2021 - BANKFE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>