@{
    string username = (string)ViewData["username"];
}
<style>
    #sidebar {
        background-color: #44a3f1;
    }

    .nav-item-link {
        text-decoration: none;
        color: rgba(245, 245, 245, 0.5);
    }

        .nav-item-link:hover {
            text-decoration: none;
            color: rgba(245, 245, 245, 1);
        }

    .dark-nav-item-link {
        text-decoration: none;
        color: #121012;
    }

    .dark-nav-item-link:hover {
        text-decoration: none;
        color: #151a15;
    }

    .img-sidebar {
        height: 60px;
        width: auto;
        margin-right: 1rem;
        padding: 5px 0;
    }
</style>

<nav id="sidebar" class="col-md-2 d-none d-md-block sidebar-sticky fixed-right min-vh-100">
    <div class="sidebar-sticky">
        <div class="flex-row justify-content-between m-2 text-light">
            <a class="text-decoration-none"
               style="cursor:pointer; color: inherit">
                <img src="~/images/temp_img.jpg" alt="temp icon" class="col img-sidebar" />
                <label class="text-weight-bolder">Bank App</label>
            </a>
            @*<em class="bi bi-three-dots-vertical float-right pt-3"></em>*@
        </div>
        <hr />

        <div class="m-lg-2">
            <ul class="list-group">
                <li class="mb-3"><a class="nav-item-link" asp-controller="Home" asp-action="Index"><em class="bi bi-house-door-fill mx-3"></em>Dashboard</a></li>
                <li class="mb-3"><a class="nav-item-link" asp-controller="Home" asp-action="NotReadyPage"><em class="bi bi-journal mx-3"></em>Menu 1</a></li>
                <li class="mb-3"><a class="nav-item-link" asp-controller="Home" asp-action="NotReadyPage"><em class="bi bi-journal mx-3"></em>Menu 2</a></li>
                <li class="mb-3"><a class="nav-item-link" asp-controller="Home" asp-action="NotReadyPage"><em class="bi bi-journal mx-3"></em>Menu 3</a></li>
                <li class="mb-3"><a class="nav-item-link" asp-controller="Setting" asp-action="Index"><em class="bi bi-gear-fill mx-3"></em>Settings</a></li>
                <li class="mb-3">
                    <a href="@Url.Action("Index", "ChangePassword", new { mode = "change", username = username })" class="nav-item-link">
                        <em class="bi bi-file-earmark-lock2-fill mx-3"></em>
                        Change Password
                    </a>
                </li>
                <li class="mb-3">
                    <a href="@Url.Action("Index", "PIN", new { mode = "edit", username = username })" class="nav-item-link">
                        <em class="bi bi-grid-3x3-gap mx-3"></em>
                        Change PIN
                    </a>
                </li>
                <li class="mb-3">
                    <a class="nav-item-link" asp-action="LogOut" asp-controller="Login">
                        <em class="bi bi-arrow-return-right mx-3"></em>
                        Logout
                    </a>
                </li>
                @*@Html.ActionLink("Change Password", "Index", "ChangePassword", new { mode = "change", username = username })
                    @Html.ActionLink("Change PIN", "Index", "PIN", new { mode = "edit", username = username })*@
            </ul>
        </div>
    </div>
</nav>