<div class="container" style="margin:1em auto">
    <div class="">
        <div class="">
            <h1>Setting page</h1>
        </div>
        <div class="setting-content">
            <hr />
            <h4>Change Password</h4>
            <form>
                <div>
                    <label>New password</label>
                    <input type="text" placeholder="new password" />
                </div>
                <div>
                    <label>Confirm Password</label>
                    <input type="text" placeholder="confirm password" />
                </div>
                <button class="btn btn-info" type="submit">Submit</button>
            </form>
        </div>
        <div class="setting-content">
            <hr />
            <h4>Change PIN</h4>
            <form>
                <div>
                    <label>New PIN</label>
                    <input type="text" placeholder="new PIN" />
                </div>
                <div>
                    <label>Confirm PIN</label>
                    <input type="text" placeholder="confirm PIN" />
                </div>
                <button class="btn btn-info"  type="submit">Submit</button>
            </form>
        </div>
        <div class="setting-content">
            <hr />
            <h4>Change Email</h4>
            <form>
                <div>
                    <label>New Email</label>
                    <input type="text" placeholder="new Email" />
                </div>
                <div>
                    <label>Confirm Email</label>
                    <input type="text" placeholder="confirm Email" />
                </div>
                <button class="btn btn-info" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>