<div class="container" style="margin:1em auto">
    <div class="">
        <h4>Setting Page</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-item-header">Personal Data Information</li>
            <li class="list-group-item">Change Address</li>
            <li class="list-group-item">Change Profession</li>
            <li class="list-group-item list-item-header">Account Data</li>
            <li class="list-group-item">Change Email</li>
            <li class="list-group-item">Change Password</li>
            <li class="list-group-item">Change PIN</li>
            <li class="list-group-item list-item-header">Bank Account</li>
            <li class="list-group-item">Transaction Authentication</li>
            <li class="list-group-item">Set Max Transfer Limit</li>
        </ul>
    </div>
</div>