
@*this part is the item of the bank account card*@

<div class="card my-4 p-3 shadow row d-inline-block" style="width: 100%">
    <img src="~/images/temp_img.jpg"
         class="rounded-circle mr-2 my-auto"
         alt="temp img" />
    <span class="d-inline-block my-auto" style="width:max-content">
        <label>Tabungan</label>
        <span class="row justify-content-between">
            <label>Account number</label>
            <label>Rp. xxx.xxx.xxx,00</label>
        </span>
    </span>
</div>