@*this part is the item of the bank account card*@

<div class="card shadow flex-row m-4 px-2">
    <div class="mr-2 my-auto">
        <img src="/images/temp_img.jpg"
             class="rounded-circle"
             alt="temp img" />
    </div>

    <div class="d-inline-block w-75 my-4 mx-2">
        <label class="m-0">Tabungan</label>
        <span class="d-flex justify-content-between">
            <label class="text-black-50 m-0"><small>Account number</small></label>
            <label class="text-success"><small>Rp. xxx.xxx.xxx,00</small></label>
        </span>
    </div>
</div>